<html>



<head>
	
	<link href='style.css' rel='stylesheet' />


</head>

<body>
<div class="content">

	<div class="left">
		<h4>Tile information:</h4>
		<div id="tile-header-content"></div>
	</div>

	<div class="right">
		<div id="three"></div>

	</div>

</div>

<script type="text/template" id="tile-header-template">
<div class="tile-header">
    Center x: <%= centerX %> m<br>
    Center y: <%= centerY %> m<br>
    Center z: <%= centerZ %> m<br>

    <h6>Tile heights</h6>
    Maximum: <%= maximumHeight %> m<br>
    Minimum: <%= minimumHeight %> m<br>

    <h6>Bounding Sphere</h6>
    Center x: <%= boundingSphereCenterX  %><br>
    Center y: <%= boundingSphereCenterY %><br>
    Center z: <%= boundingSphereCenterZ %><br>
    Radius: <%= boundingSphereRadius %><br>

</div>

</script>


	


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>

<script src="js/QTileReader.js"></script>
<script src="js/ThreeTileViewer.js"></script>
<script src="js/TrackballControls.js"></script>
<script src="js/main.js"></script>

<script>
	var url = "http://assets.agi.com/stk-terrain/world/13/8498/6900.terrain?v=1.16389.0";
	// var url = "http://assets.agi.com/stk-terrain/world/11/325/2105.terrain?v=1.16389.0";
	// var url = "http://assets.agi.com/stk-terrain/world/8/258/217.terrain?v=1.16389.0";
	var qReader = new qmesh.TileReader();
	var tileViewer = new qmesh.TileViewer();


	function getRequest() {
		var xhr = new XMLHttpRequest();
		
		xhr.onload = function(e) {
			handleTileResponse(this.response);
	  	}
		// xhr.open('GET', '../3452.terrain', true);
		xhr.open('GET', url, true);
		xhr.send(null);
		xhr.responseType = "arraybuffer";
 	}

 	function handleTileResponse(data) {
 		var tile = qReader.parseTile(data);
 		var geometry = buildGeometry(tile.u, tile.v, tile.heights, tile.indices);
 		tileViewer.showTile(geometry);

 	}

 	

getRequest();

</script>


</body>


</html>