<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Vector tiles</title>
    <!-- CSS -->
    <style>
      html,body {
      height:100%;
      margin:0;
      padding:0;
      }
    </style>
  </head>
  <body> 
    <div id='root'></div>
  </body>
</html>